{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}

{% if feature_text or feature_image %}
  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }}); padding-bottom: 0"{% endif %}>
    <div>
      <div class="container  typeset"  id="feature-text">
        <h1 id="feature-text-body" style="color: {{ page.feature_color }}; font-size: 200%">{{ feature_text | markdownify }}</h1><br />
      </div>
    </div>
  </div>
{% endif %}

<style>
  #feature-text-body {
    {% if feature_text %}
    background: repeating-linear-gradient(
      to right,
      #f00 0,
      #0f0 50%,
      #00f 100%
    );
    {% endif %}
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
</style>
